extends layout

block content
  h3 Is the Old* Exit Node Alive?
  h3= value
  p Please hit "reload" to refresh.
  p * Note that gateways connecting to the New Exit Node are not (yet) included. 
  p Please help make this page better at 
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor

  h3="nodes"  
  if nodes
    table.table
      thead
        tr
          th='node'
          th='gateway'
          th='last seen'
      tbody
        each node in nodes
          if node.nodeIP && node.gatewayIP && node.timestamp
            tr
              td=node.nodeIP
              td=node.gatewayIP
              td=node.timestamp

  img(src='diagram.jpg')
